{{#> main}}
    <div class="wrapper">
        <div class="background">
            <img src="{{{assetsPath}}}/img/{{{background}}}.png" alt="logo"/>
        </div>

        {{> logo}}
        <div class="title"> {{ title }} </div>
        <div class="periodicNumber"> Порядковий номер документу №{{ periodNumber }} </div>

    </div>
{{/main}}
